/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


:root {
    --primary: #060606;
    --gold: #da9347;
    --backgroud: #fff;
    --text: #424242;
    --profile-headline: #edf2ee;
    --profile-text: #ffffff;

    --primary-bg: #2d3638;
    --primary-text: #060606;

    --bookmark-bg: #2d3638;
    --bookmark-border: #797979;
    --bookmark-svg: #aab0b0;

    --highligt-name-color: #dadada;
    --highlight-value-color: white;
}



body {
    background-color: #f7f7f7;
}
/* Estilo original */ 


nav {
    width: 100%;
    height: 80px;
    color: #5e8c81;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px; 
    margin-top: 22px; 
}

.nav{
    width: 90%;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 25px;

}

a {
    font-family: Arial;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 15px 0 0;
    color: #5e8c81;

}


h1 {
    color: #5e8c81;
    font-size:1.6rem
}

input {
    padding: 10px;
    border: none;
    margin: 5px 10px 5px 0;
    border-radius: 15px;
    background-color: #f0f0f0;
}

input::placeholder {
    color: #5e8c81;
}

button {
    padding: 10px;
    border: none;
    margin: 5px 10px 5px 0;
    border-radius: 15px;
    background-color: #5e8c81;
    color: #f0f0f0;
}

button:hover {
    background-color: #f0f0f0;
    color: #5e8c81;
}

select {
    padding: 10px;
    border: none;
    margin: 5px 10px 5px 0;
    border-radius: 15px;
    background-color: #f0f0f0;
}

select:hover {
    background-color: #5e8c81;
    color: #f0f0f0;
}

.logo-wrap {
  padding: 0 28px 28px 28px;
  width:100%;  /* deixa 18px de cada lado */
  max-width: 650px;          /* controla tamanho máximo */
}

.logo-container {

    padding: 0 28px 28px 28px;  /* 18px à esquerda, à direita e embaixo */
    display: flex;
    justify-content: center;    /* centraliza o logo */
}

.logo-img {
    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 8px;   
}

.logo-wrap:hover .circle-text {
  fill: #5e8c81; /* muda a cor do texto */
}

.circle-text {
  fill: #5e8c81;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 1s ease forwards;
  margin: 12px;
}
/* keyframes */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

.rotating-text {
  transform-origin: 200px 200px; /* centro do SVG */
  animation: rotate 12s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.profile-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    
}

.profile {
    padding: 1rem;
    position: relative;
    max-width: 30rem;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px;
    height: 45rem;
    border-radius: 2.5rem;
    transition: all 0.2s ease-in-out;
}

.profile_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.names {
    display: flex;  

    

}

.names-sobre{
    display: flex;
    padding-bottom: 10px;
    margin-right: 10px;
}
.profile h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    font-size: 2rem;
    color: var(--profile-headline);
    gap: 0.5rem;
}

.profile p {
    font-size: 1.25rem;
    color: var(--profile-text);
    margin-bottom: 0.5rem;
}

.profile .background-img {
    position: absolute;
    z-index: 1;
    top: 0rem;
    left: 0rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
}

.profile_content {
    position: relative;
    margin-top: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 1)  60%,
    rgba(0, 0, 0, -0.2) 100%);
    backdrop-filter: blur(1px);
    color: var(--profile-text);
    border-radius: 0 0 2rem 2rem;
    padding: 1rem;
    z-index: 2;
}

.profile_description {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--profile-text);
    margin-bottom: 1rem;
}

.highlights {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.highlight {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.15rem;
}

.highlight_value {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    gap: 0.5rem;
    padding: 5px;
    border-radius: 1rem;
}

.highlight_name {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--highligt-name-color);
}

.button-actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 2rem;
}

.button-actions .primary {
    border: 1px solid #5e8c81;
    background: #5e8c81;
    color: white;
    flex: 3;
}

.button-actions button {
    min-height: 3.5rem;
    background: var(--white);
    color: var(--text);
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.35rem;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
    transition:  background-color
    0.2s ease-in-out;
}

.button-actions .profile_bookmark {
    background: var(--bookmark-bg);
    border: 1px solid var(--bookmark-border);
    color: var(--btn-text);
    flex: 1;
    transition: all 0.2s ease-in-out;
}

.button-actions .profile_bookmark:hover {
    border: 1px solid var(--bookmark-svg);
}

.description{
    font-family:'Times New Roman', Times, serif;
}





.inf-perfil a {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 0;
    margin: 0;

}



.banner{
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, rgba(94, 140, 129, 0.8), rgba(255, 255, 255, 0.9)); /* transparente */
    backdrop-filter: blur(30px);         /* efeito vidro */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #111;
    text-align: center;
    font-family: Arial;
    font-weight: 200;
    font-style: normal;
    padding: 0;
    padding-top: 30px;

}







.divulga {
    display: flex;
    flex-wrap: nowrap; /* Garante que todos os itens fiquem em linha, sem quebra */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center;
    width: 100%;
    height: auto;
    overflow-x: auto; /* Permite a rolagem lateral */
    scroll-snap-type: x mandatory; /* Ativa o "scroll snap" no eixo horizontal */
    scrollbar-width: none; /* Remove barra de rolagem visível no Firefox */
    -ms-overflow-style: none; /* Remove barra de rolagem no IE e Edge */
    padding: 15px 40px;
    margin-bottom: 10px;
    padding-left: 30px;
    scroll-padding: 30px;  
    gap: 16px;
    background-color: white;

}

.divulga::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem no Chrome e navegadores baseados no WebKit */
}

.divulga2 {
    display: flex;
    flex-wrap: nowrap; /* Garante que todos os itens fiquem em linha, sem quebra */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: auto; /* Permite a rolagem lateral */
    scroll-snap-type: x mandatory; /* Ativa o "scroll snap" no eixo horizontal */
    scrollbar-width: none; /* Remove barra de rolagem visível no Firefox */
    -ms-overflow-style: none; /* Remove barra de rolagem no IE e Edge */
    scroll-padding: 30px;  
    gap: 16px;
}

.divulga2::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem no Chrome e navegadores baseados no WebKit */
}

.divulga-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    min-width: 340px; /* Define uma largura mínima para cada item *//* Define uma largura mínima para cada item */
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    scroll-snap-align: start; /* Garante que o item fique "preso" no início ao rolar */
    gap: 16px;
}

.divulga-pro img {
    width: 100%;
    height: 280px;
    object-fit: fill;
    object-position: 0 10%;
    border-radius: 25px;
    cursor: pointer;
   
}



.card {
    width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.inf-container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 0;
    height: 0;
    transition: height 0.3s ease;
}

.inf-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.inf-text p {
    text-align:justify;
    color: #797979;;
    margin: 12px;
}

.inf-text h3 {
    color: #797979;
}



.card:hover .inf-container {
    height: auto;
}



main {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; 
   
}




.btn {
    background: #5e8c81;
    color: white;
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 2.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background: #5e8c81;
    color: white;
}

.base-nutr{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; 
   
}

.perfg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    
}


.main-rigth,
.main-center {
    width: 100%;
    margin-bottom: 20px;
    padding:  0 12px;
    border-radius: 15px;
}

/* Estilos para a coluna direita */
.main-rigth {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
}


/* Estilos para a coluna central */
.main-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Garante que o conteúdo comece do topo */
    align-items: center;
    width: 100%;
    height: 1150px; /* Mantém a altura fixa */
    overflow-y: auto; 
    overflow-x: hidden; /* Permite rolagem vertical se o conteúdo exceder a altura */
    scrollbar-width: none; /* Remove a barra de rolagem visível no Firefox */
    -ms-overflow-style: none; /* Remove a barra de rolagem no IE e Edge */
    backdrop-filter: blur(30px);
    padding: 20px 0; /* Ajusta o padding interno para centralizar */
    gap: 1rem; 
    /* Espaço entre os perfis */
}

.main-center::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem no Chrome e navegadores WebKit */
}




/* Estilos para a coluna esquerda */
.main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    border-top: 2px solid #aab0b0;


   
}

.main-left p {
    color: white;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.main-left h2 {
    color: white;
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-left img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    
}


/* Base para o perfil */
.base-pf {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: white;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 0;
    overflow-x: auto;
    overflow-y: hidden; /* Permite a rolagem lateral */
    scroll-snap-type: x mandatory; /* Ativa o "scroll snap" no eixo horizontal */
    scrollbar-width: none; /* Remove barra de rolagem visível no Firefox */
    -ms-overflow-style: none; 


    
}

.base-pf-marg {
    display: flex;
    flex-wrap: nowrap; /* Garante que todos os itens fiquem em linha, sem quebra */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 15px;
    overflow-x: auto;
    overflow-y: hidden; /* Permite a rolagem lateral */
    scroll-snap-type: x mandatory; /* Ativa o "scroll snap" no eixo horizontal */
    scrollbar-width: none; /* Remove barra de rolagem visível no Firefox */
    -ms-overflow-style: none; 
    

   
}

.base-pf-marg::-webkit-scrollbar {
    display: none;
}





.base-pf h2 {
    font-family: Arial;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 50px;
}

/* Estilo para o menu */
.border-p{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    background-color: white;
    border-top: 3px solid #5e8c81;
   
}

.border-p p{
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    color: #333;
}

.border-p h3 {
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    color: #333;
}

.border-N{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    background-color: white;
    border-top:3px solid #5e8c81;
  

}

.border-N p{
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    color: #333;
}

.border-N h3 {
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
    color: #333;
}

/* Perfil adicional */
.perfil1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.img-perfil1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #333;
    margin-right: 10px;
}



.galery-inf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 180px;
    background-color: #5e8c81;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 0;
    
}

.postagens-psicologos {
    display: flex;
    overflow-x: auto; /* Rolagem horizontal */
    scroll-snap-type: x mandatory;
    gap: 16px;
    scrollbar-width: none; /* Remove a barra de rolagem no Firefox */
    -ms-overflow-style: none; /* Remove a barra de rolagem no IE/Edge */
    -webkit-overflow-scrolling: touch;
     /* Rolagem suave em dispositivos móveis */
}

.postagens-psicologos::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem no Chrome e Safari */
}


.postagem {
    min-width: 300px; /* Define a largura dos posts */
    flex: 0 0 auto; /* Evita que os posts encolham */
    scroll-snap-align: start; /* Alinha no início */
    padding: 10px;
    cursor: pointer;
}


.galery-inf h2 {
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;


}

.post-me{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap; 
    width: 380px;
    height: 150px;
    border-radius: 15px;
    margin-left: 12px;
    margin-bottom: 15px;
    padding: 0;
    backdrop-filter:  blur(30px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1.5);
}

.post-me-pro {
    display: flex;
    justify-content:center;
    width: 100%;
    height:100%;
}


.dica{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.dica p{
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    color: black;
    backdrop-filter:  blur(30px);
    padding: 5px;
    border-radius: 15px;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow-x: hidden;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
}


.post-me h3 {
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    color: #333;
    margin-bottom: 10px;

}


.post-me p {
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    color: #333;
    backdrop-filter:  blur(30px);
    padding: 5px;
    border-radius: 15px;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow-x: hidden;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
}


/* Media Queries para Responsividade */

@media screen and (max-width: 768px) {  
    header {
        flex-direction: column;
        height: auto;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
    nav .one, .dow {
        display: none ;
    }

    nav label{
        display: none;
    }

    nav input{
        display: none;
    }

    main {
        flex-direction: column;
        align-items: center;
        
    }

    .logo-wrap {
        height: 450px; /* reduz altura */
    }

    svg {
        width: 30px;
        height: auto;
    }

    text {
        font-size: 30px !important; /* texto menor no círculo */
    }


    .main-center {
        width: 100%;
        padding: 8px;
    }


  .border-N h3 {
    font-size: 15px;
  } 

  .border-N p {
    font-size: 12px;
  }

  

  .border-p h3 {
    font-size: 15px;
  }

  .border-p p {
    font-size: 12px;
  }



    .main-center {
        width: 100%;
        height:800px;

        
    }

   
    .main-rigth,
    .main-left {
        width: 100%;
    }

    .inf-text2{
        display: none;
    }

    
 
   

    .base-nutr{
        border: none;
        flex-direction: column;
    } 

    .galery-inf{
        
        height: 150px;
    }

    .galery-inf h2{
        font-size: 35px;
    }

   

   

    .main-left-pg1{
        width: 100%;
    }

    .icon-bottom{
        display: none;
    }

    .inf-text4{
        display: none;
    }

    .base-pf1 h2{
        font-size: 25px;
    }

    .like-buttons{
        width: 100%;
    }

    .like-button{
        width: 30px

    }

    .perfil{
        width: 100%;

    }


   .divulga {
    padding: 15px 40px;
   }

   form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   }


    
}

@media screen and (max-width: 480px) {
    .main-center,
    .main-rigth,
    .main-left {
        width: 100%;
        
    }


    

  
}


#carrossel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Suaviza o scroll em dispositivos móveis */
}




